* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#first-paragraph{
    color: blue;
}

#second-paragraph{
    background-color: purple;
    color: white;
}

#span-1{
    color: green;
}

#span-2{
    color: red;
    background-color: yellow;
}