* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(55, 53, 53);
}

.center-column {
    margin: 24px auto;                                                          
    width: 800px;                                                               
    text-align: center;                                                         
    border: 2px solid rgb(22, 22, 238);                                                     
    background-image: url(../images/football-field.jpg);
}

#main-content {                                                                 
    display: flex;                                                              
    justify-content: center;                                                    
    align-items: center;                                                        
    gap: 36px;                                                                  
    color: white;                                                               
}   

#header {                                                                       
    color: white;                                                               
}  

#main-content .logo img {                                                      
    width: 300px;                                                               
    height: 300px;                                                              
    object-fit: fill;                                                         
    margin: 0px 24px;                                                           
}

#header h1 {                                                                    
    font-size: 52px;                                                            
    margin: 16px 0px 8px;                                                                                                                      
    text-shadow: 0px 2px 8px black;                                             
} 

#header h4 {                                                                    
    font-weight: lighter;                                                       
    font-size: 20px;                                                            
    margin-bottom: 12px;                                                        
} 

#header h3 {                                                                   
    font-size: 32px;                                                            
    margin-top: 0px;                                                          
    font-weight: lighter;                                                     
}  

#bottom-content .buttons {                                                      
    display: inline-block;                                                      
    background-color: rgb(57, 57, 172);                                                     
    color: white;                                                       
    border: 2px solid black;                                            
    padding: 28px;                                                              
    margin: 24px 20px;                                                          
    border-radius: 28px;                                                        
    font-weight: bolder;                                                        
}  

#bottom-content h2 {                                                            
    font-size: 40px;                                                            
    color: rgb(153, 26, 153);                                                                
    text-shadow: 0px 5px 9px black;                                             
    margin: 20px 0px;                                                          
}

#bottom-content h3 { 
    color: blue;
} 

#bottom-content h4 { 
    color: blue;                                                           
    margin: 0px;                                                                
    margin-top: 28px;                                                           
} 

#bottom-content h4#questions {                                                                                                                                                             
    margin-bottom: 24px;                                                        
} 