* {
    box-sizing: border-box;
}

body {
    background-color: rgb(41, 41, 109);
    margin: 0px;
    font-family: sans-serif;
}

.center-alligned {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.image-width {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.paragraph-padding {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}